<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/sachtony/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="sachtony" />
            <add key="ClearTextPassword" value="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" />
            <repository url="https://sachtony.github.io/stonet/ />
        </github>
    </packageSourceCredentials>
</configuration>
